Django
psycopg[binary]
gunicorn
django-htmx
djangorestframework
django-filter
django-simple-history
Pillow
djangorestframework-simplejwt
openpyxl
weasyprint
python-pptx
python-docx
fido2
channels
channels-redis
icalendar
uvicorn[standard]
# Testing & linting
ruff
pytest
pytest-django
pytest-cov
pytest-asyncio
factory-boy
